@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-Black.ttf");
  font-weight: 900;
}

@import "tailwindcss";

@theme {
  --color-primary: #20c997;
  --color-secondary: #1aa179;
  --color-bgsec: #f3f8f7;
  --breakpoint-xs: 25rem;
  --font-lato: "Lato", sans-serif;
}

@layer utilities {
  .clip-bottom-triangle {
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  }
}
@layer utilities {
  .clip-top-triangle {
    clip-path: polygon(50% 50%, 0 0, 100% 0);
  }
}

@layer utilities {
  .clip-top-left-triangle {
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
}

@layer utilities {
  .clip-top-triangle-au {
    clip-path: polygon(100% 0, 0 0, 50% 80%);
  }
}

@layer utilities {
  .clip-path-wave {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

@keyframes breathing-float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-breathing-float {
  animation: breathing-float 5s ease-in-out infinite;
}
